/* CSS Document */
/* Web Font */
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
body {font-family:'Nanum Gothic'}
* { margin: 0; padding: 0; }
table, div {border-collapse: collapse; line-height: 1.5em;}
select, input, li img { vertical-align:middle;}
p { margin:0; padding:0; font-size:11px}
img, fieldset { border: 0; }
