@charset "euc-kr";
/* CSS Document */
.wrap {/*width:940px;*/ margin:0 auto}
.header { height:112px; position:relative; z-index:2;}
.header_path { padding:13px 0 0 0; height:18px; width:940px; margin:0 auto}
.header_path img { vertical-align:top}
.container {width:940px;margin:0 auto;}
.container:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.container {display: inline-block;}
.container {display: block;}
* html .container {height: 1%;} /* hides from ie-mac */

.container .left { float:left; width:169px; padding:0 28px 0 0;}
.container .content { position:relative; float:left; width:742px; overflow:hidden;}


/*레저 추가 090917*/
.sub_tab li.sel { background:url(/tmap2/images/mobile/leisure/bg_tab_selected.gif) repeat-x left top; height:22px; z-index:1; border-left:1px solid #b0b0b0; border-right:1px solid #b0b0b0; margin-left:-1px; }
.sub_tab,
.sub_tab li { float:left; display:inline;  }
.sub_tab { clear:both; margin-top:40px; border-bottom:1px solid #b0b0b0; width:100%; z-index:0; height:26px; border-left:1px solid #e5e5e5; }
.sub_tab li { background:url(/tmap2/images/mobile/leisure/bg_tab_noeselected.gif) repeat-x left top;  height:21px; padding:5px 20px 0 20px; font-size:11px; font-family:dotum;border-right:1px solid #e5e5e5;  }
.pass { width:167px; height:59px; position:absolute; padding:2px; top:320px; left:270px; background:url(/tmap2/images/mobile/leisure/bg_layerbox.gif) no-repeat left top; background-color:#f5f5f5; display:none; vertical-align:middle;}
.pass .passin { width:106px; font-size:11px; margin-left:8px; margin-top:7px; border:1px solid #cccccc; margin-right:1px; vertical-align:middle; }
div.subject { position:relative; text-align:left; }

/* 20090918 수정 start */
.pass img.inputs { margin-bottom:-5px; vertical-align:middle; }
/* 20090918 수정 end */

* .org { color:#ffae00; }
.btn_hide { position:absolute; right:50px; margin-top:-28px; }
.btns { position:absolute; right:30px; margin-top:10px; }
textarea.input50words { margin-top:5px; margin-bottom:5px; }
.mt50 { margin-top:50px; }
.mt40 { margin-top:40px; }
.mt30 { margin-top:30px !important; }
.mb10 { margin-bottom:10px; }
.new_titles{ margin-top:35px; margin-bottom:0; padding-bottom:0; }


* td.zimm img.zim { margin:0; padding:0; }
* td.zimm { padding-bottom:5px; }
*.dark { background-color:#dddddd !important; }
* .radio_cross { margin-top:-4px; *margin-top:0; }


#table_distance { width:670px;  clear:both; margin-left:10px;}
#table_distance td, #table_distance th { text-align:center; padding-top:5px; padding-bottom:5px; font-weight:bold;font-size:11px; border-bottom:1px dashed #d5d5d5; }
#table_distance td img{margin-top:1px; }
#box_forinfo {background:url(/tmap2/images/mobile/leisure/bg_round_info_middle.gif) repeat-y left top;  background-color:#f5f5f5; width:698px; text-align:center; }
#box_forinfo h5 { background:url(/tmap2/images/mobile/leisure/bg_round_tops.gif) no-repeat left top; font-size:11px; text-align:left; padding-top:10px; padding-left:15px;margin-bottom:15px;}
#box_forinfo .btms_round {  background:url(/tmap2/images/mobile/leisure/bg_round_btms.gif) no-repeat left bottom; width:100%; height:18px; }
.view_table { border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; width:670px; clear:both;  margin-left:15px; }
.view_table th { padding:6px 0; }
/* 20090921 테이블 폰트 크기 수정 시작 */
.view_table td,
.view_table th { font-size:11px !important; }
/* 20090921 테이블 폰트 크기 수정 끝 */
* .org2 { color:#f5904d; }
* .org3 { color:#db7b1d; margin-left:20px;}

#box_forinfo { margin-top:20px; position:relative; overflow:hidden;  }/* 유동적인 height값을 위해 수정 한줄 20090921*/

.forflash { margin-top:50px; margin-left:0;padding-left:0; }
.btns2 { position:absolute; top:8px; right:10px; margin:0; padding:0;}
.btns { position:absolute; bottom:8px; right:30px; margin:0; padding:0;}
.btn_list { float:right; padding-top:30px; }
#view_list { max-height:280px; overflow:auto; } /* 유동적인 height값을 위해 수정 한줄 20090921*/

.lst_line { border-bottom:1px solid #d5d5d5 !important; }
.box_forinfo select { width:200px; font-size:11px; }
#box_forinfo a { color:#777; }

.for_cates { float:right; display:inline; margin-top:-20px; }
.for_cates select { font-size:12px; }
.w100 { width:100px; }

.levelstar { float:left; display:inline; margin:0; padding:0; margin-left:7px; padding-left:10px; }
.levelstar img { float:left; margin:0; padding:0; margin-left:-7px; _margin-left:-8px; }
.levelstar2 { float:left; display:inline; margin:0; padding:0;}
.levelstar2 img { float:left; margin:0; padding:0; }

* .ac_btn { text-align:center !important; padding:0; }
* .ac_btn img { padding:0; margin:0; margin-left:10px; }

* .mt10 { margin-top:10px !important; }
.ofh { overflow:hidden; }

* .bt2gray { border-top:2px solid #b2b2b2 !important; }

.pt5 { padding-top:4px !important; }
.info_ex { margin-left:20px; margin-top:15px; }
.clb { clear:both; }

/* 재수정 시작 20090921 */
#mt_introduce_img dl.renew dt { font-weight:bold;  font-size:11px; padding-left:10px; background:url(/tmap2/images/common/ico_bulet_graydots.gif) no-repeat 3px 7px; }
.dots {font-size:12px; padding-left:10px; background:url(/tmap2/images/common/ico_blur_graydots.gif) no-repeat 3px 6px;  color:#868686; }
.org { color:#ff6440 !important; }
#mt_introduce_img dl.renew dt { margin-top:10px; margin-bottom:10px; }
#mt_introduce_img dl.renew dd { margin-left:10px; margin-bottom:5px; }
/* 재수정 끝 20090921 */

* td.levelstars { vertical-align:middle; }
* td.levelstars img { vertical-align:middle !important; float:none !important; margin-left:0 !important; }
* td.levelstars input { float:none; vertical-align:middle; }

.back_explain { background:url(/tmap2/images/mobile/leisure/bg_geo_explain.gif) no-repeat right bottom; height:400px;}
.mt20 { margin-top:20px !important; }

/*레저 추가 끝 090917*/


/* 레저 추가 시작 090921*/



.mb0 { margin-bottom:0 !important; }
.pb0 { padding-bottom:0 !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb40 { margin-bottom:40px !important; }
.mt15 { margin-top:15px !important; }
.ml20 { margin-left:20px !important; }
.ml30 { margin-left:30px !important; }
.ft12 { font-size:12px !important; }
.ft11 { font-size:11px !important; }
.ml0 { margin-left:0 !important;  }
.pl0 { padding-left:0 !important; }
.mt0 { margin-top:0 !important; }
.pt0 { padding-top:0 !important; }
.pt5 { padding-top:5px !important; }
/* 기본 command */
.ml0 { margin-left:0px !important; }
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }
.ml35 { margin-left:35px !important; }
.ml40 { margin-left:40px !important; }
.mt0 { margin-top:0px !important; }
.mt5 { margin-top:5px !important; }
.mt7 { margin-top:7px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mr0 { margin-right:0px !important; }
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr32 { margin-right:32px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }
.mr44 { margin-right:44px !important; }
.mb0 { margin-bottom:0px !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb30 { margin-bottom:30px !important; }
.mb35 { margin-bottom:35px !important; }
.mb40 { margin-bottom:40px !important; }

.pl0 { padding-left:0px !important; }
.pl5 { padding-left:5px !important; }
.pl10 { padding-left:10px !important; }
.pl15 { padding-left:15px !important; }
.pl20 { padding-left:20px !important; }
.pl25 { padding-left:25px !important; }
.pl30 { padding-left:30px !important; }
.pl35 { padding-left:35px !important; }
.pl40 { padding-left:40px !important; }
.pt0 { padding-top:0px !important; }
.pt5 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }
.pt35 { padding-top:35px !important; }
.pt40 { padding-top:40px !important; }
.pr0 { padding-right:0px !important; }
.pr5 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr25 { padding-right:25px !important; }
.pr30 { padding-right:30px !important; }
.pr35 { padding-right:35px !important; }
.pr40 { padding-right:40px !important; }
.pb0 { padding-bottom:0px !important; }
.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px !important; }
.pb35 { padding-bottom:35px !important; }
.pb40 { padding-bottom:40px !important; }

.ml370 { margin-left:370px; }

/* 정렬 속성모음 */
.vat { vertical-align:top; }
.vam { vertical-align:middle; }
.vab { vertical-align:bottom; }
.ac { text-align:center; }
.al { text-align:left; }
.ar { text-align:right; }
.fl { float:left; }
.fr {float:right; }

/* 보임 감춤속성 모음 */
.vh { visibility:hidden; }
.vv { visibility:visible; }
.dpn { display:none; }
.dpi { display:inline; }
.dpb { display:block; }

.fn { float:none; }
.clb { clear:both; }

/* Font 속성모음 */
.org { color:#ff7200 !important; }
.f11 { font-size:11px; }
.fs0 { font-size:0; }
.bold { font-weight:bold !important; }
.skyblue { color:#45afb2; }
.glayforunenable td { color:#383838; }
.glayforunenable td.execpt { color:#383838; }


h3, h4 { clear:both; }
.fwn { font-weight:normal; }
.basesize { font-size:12px; }
.s_list { margin-left:15px; }
.s_list dd { font-size:11px; line-height:14px; }
.s_list dt { font-size:12px; }
/*레저 추가 끝 090921*/

.btn_withtext { margin-top:-4px; }

/* GNB */
.header1 {height:95px;}
#gnb {position:absolute; margin:0; padding:0; top:55px; left:0; width:100%; height:55px; }
#header2 {position:fixed; top:46px; left:20%; width:10%; height:55px;}
#header3 {position:fixed; top:60px; right:15%; width:10%; height:40px;}
.gnb {text-align:center; margin:0; padding:0; margin-top:18; margin-left:30;}
#gnb .logo {position:absolute; top:5px; left:51%; margin-left:-520px;}
#gnb .logo img {margin-right:10px;}
#gnb .download {position:absolute; top:0; left:50%; margin-left:320px;}
/* 1depth */
.gnb li {display:inline;}
.gnb li a {font-size:17px; color:#6e6e6e; font-family:'Nanum Gothic'; margin:0 15px; font-weight:800;}

/* 2depth */
.gnb li ul {position:absolute; margin:0; padding:0; top:41; left:0; height:25px; background:#ea002b; z-index:10; width:110%;}
.gnb li .gnb2depth1 li.first {margin-left:-150px;}
/*.gnb li .gnb2depth1 li.first {margin-left:-75px;}*/
.gnb li .gnb2depth2 li.first {margin-left:-180px;}
.gnb li .gnb2depth3 li.first {margin-left:20px;}
.gnb li .gnb2depth4 li.first {margin-left:270px;}
.gnb li .gnb2depth5 li.first {margin-left:50px;}
.gnb li li a {display:inline; height:25px; line-height:25px; color:#fff; font-size:12px; margin:0; padding:0 10px; font-family:'Nanum Gothic'; font-weight:700;}

.gnb li.sfHover a {color:#222;}/* 1depth 버튼 활성화 */
.gnb li.sfHover li a {color:#fff;}/* 1depth 버튼 활성화 시 2depth 버튼 비활성화 */
.gnb li.sfHover li a:hover,
.gnb li.sfHover li.current a {color:#710015;}/* 2depth 버튼 활성화 */
.sf-sub-indicator {display:none;}
